<!-- Header/Navigation -->
<header>
  <nav class="navbar navbar-light bg-faded">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <a class="navbar-brand" href="/">Nathan Justin</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/static_pages/about">About Me</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/articles">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pictures">Pictures</a>
      </li>
    </ul>
  </div>
</nav>
</header>
<!-- /End of Header/Navigation -->
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<%= link_to 'Edit', edit_article_path(@article) %> | 
<%= link_to 'Back', articles_path %>