<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Nathan Justin</title>

    <title>Mysite</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://sirseni.com/demo/bootstrap%204%20starter%20template/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://sirseni.com/demo/bootstrap%204%20starter%20template/css/style.css">
  </head>

  <body>
  <%= yield %>
  </body>
  
</html>